<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hacker News</title>
  {{style('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')}}
  {{style('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')}}

  <style>
    .bg-color{
      background: #f6f6ef
    }
  </style>

</head>
<body>

  @include('partials.navbar')
  @include('partials.notifications')
  @!section('content')
</body>
</html>
